/*.NavBar{
    background-color: grey;
    align-content: center;
    display:inline-flexbox;
}

nav{
    height: 60px;
    background-color: grey;
    text-align: center;
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: inline-block;
}

nav ul li{
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover{
  background-color: #929fb3;
}*/

.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background: grey;
  }
  
  .Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .Option {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: black;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }

  .ActiveOption {
    /* color: #8C30F5; */
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    /* TODO */
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: lightseagreen;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
  }
  
  .NavLink {
    color : lightseagreen
  }